<%= form_for @company, :html => {:class => 'inline'} do |f| %>
  <%= f.error_messages %>
    <p>
      <%= f.label :name , :class => 'title'%><br />
      <%= f.text_field :name, :class =>'text' %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
  <p><button type="submit" class="button positive">Create Company</button></p>  
<% end %>
