- title "Companies"

%table
  %thead
    %tr
      %th Name
      %th Description
      %th &nbsp;
  %tbody
    - @companies.each do |company|
      %tr{:class => cycle('', 'box')}
        %td.span
          = company.name
          %ul
            %li= "#{company.domains.count} domains"
            %li= "#{company.domains.count} servers"
            %li= "#{company.domains.count} systems"
        %td.span-15= company.description
        %td.span-7
          = link_to button_tag('ss_book', 'Show'), company, :class => 'button'
          = link_to button_tag('ss_book_edit', 'Edit'), edit_company_path(company), :class => 'button positive'
          = link_to button_tag('ss_book_delete', 'Destroy'), company,:confirm => "Are you sure?", :method => :delete, :class => 'button negative'
          
= link_to button_tag('ss_add', 'New Company'), new_company_path, :class => 'button positive'